<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classic Whipz!</title>
  <link rel="icon" type="image/x-icon" href="/images/car.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header class="header-bar">
      <a href="/"><img class="small-logo" src="/images/logo.png"></a>
      <input class="search-bar" placeholder="Search by model"></input>
      {{#if logged_in}}
      <div class="logged-in"><a id="logout" class="login-button no-button">Log out</a>{{name}}</div>
      {{else}}
      <div class="logged-in"><a href="/login" class="login-button">Login / Register</a></div>
      {{/if}}

    </header>
    <main class="container">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      <h2>Contact information</h2>
      <a>Cezar</a>
      <a>Esther</a>
      <a>Hovig</a>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>