<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
        <h1 class="display-3 mt-3 pt-5">
          Titanfall
        </h1><p class="lead">The Future of Multiplayer Games</p>
        <form action="/charge" method="POST">
          <script 
            src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ stripePublishableKey }}"
            data-amount="2500"
            data-name="Titanfall for PS4"
            data-description="Use '4242 4242 4242 4242' for card #" data-image="/img/marketplace.png"
            data-locale="auto">
          </script>
          <script>
            // Hide default stripe button
            document.getElementsByClassName('stripe-button-el')[0].style.display='none';
          </script>
          <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase for $25.00</button>
        </form><br>
    </div>
    <div class="col-md-6">
      <img src="/img/book.png" class="rounded mx-auto d-block" alt="">
    </div>
  </div>
</section>