<section class="py-5">
  <h1 class="display-3">
    Thank You for your purchase!
  </h1>
  <p class="lead">We will be sending an email with the seller information soon!
    <br>Please be sure to contact the seller as soon as possible to finalize the purchase of your new car!
    </p>
  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>