header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }

  /*new css starts here*/

  * {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
}

/*top header bar without button login*/

.small-logo {
    height: 1.5rem;
    display: inline-block;
    margin: 0 0 0 1rem;

}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100vw;
    height: 75px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: sticky;
    z-index: 1;
    margin: none;
}

.login-button {
    text-decoration: none;
    ;
    font-style: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 1rem;
    height: 1.5rem;
    padding: 0 0 0 0;
    border: 1px solid rgb(55, 53, 53);
    border-radius: 0.25rem;
    background-color: transparent;
    color: #fff;

    font-weight: 700;
    width: 20vw;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.logged-in {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 1.5rem;
}

.login-button:hover {
    background-color: rgb(57, 55, 55);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(75, 74, 74);
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 1.5rem;
    background-color: white;
    color: #000;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0 0 0 1rem;
}

/*top header bar without button login*/
/*main homepage portion*/


.section-homepage {
    display: flex;
    flex-direction: row;
    height: 500px;
    padding: 0;
    width: 100%;
}

.red-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: left;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: red;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.red-box h1 {
    padding-right: 6vw;
    padding-bottom: 5px;
    font-size: 6rem;
    position: absolute;
    top: 250px;
    left: 10vw;
    z-index: 1;
}



.red-box h1 span {
    font-size: 2rem;
    position: relative;
    top: -60px;
    left: 0px;
}

.intro-picture {
    display: flex;
    width: 60%;
    height: auto;
    position: relative;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(../images/intropicture.jpg);
    background-size: cover;
}


/*newest addition section*/

.section-new-additions {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

}

.section-new-additions h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 10vw;
    padding-top: 100px;
    left: 2rem;

    width: 100%;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;

}

.container-new-additions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    height: auto;
    width: 100%;
    padding: 20px 10vw 60px 10vw;
    background-color: white;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    max-height: fit-content;
}

.new-addition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: white;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.new-addition img {
    height: auto;
    width: 100%;
}

.new-addition a {
    text-decoration: none;
    color: black;

}

.new-addition a:hover {
    color: red;

}

.see-more-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: white;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.see-all {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: red;
    color: white;
    padding: .5rem 1rem .5rem 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    height: auto;
    border-radius: 0.5rem;
}

.see-all:hover {
    background-color: white;
    color: red;
}

.section-new-additions a {
    min-height: auto;
}

/*car-list-page-starts*/

.section-car-list-intro {
    display: flex;
    flex-direction: row;
    height: 400px;
    padding: 0;
    width: 100%;
}

.section-car-list-intro .intro-picture {
    width: 60%;
}

.black-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: left;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.section-car-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    background-color: white;
    padding: 30px 10% 30px 10%;
}

.car-list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.car-list-item-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 40%;

}

.car-list-item-image a img {
    width: 100%;
}

.car-list-item-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    width: 60%;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 20px;
}

.car-list-item-info h2,
h3 {
    margin: 0;
    padding: 20px 0 20px 0;
}

/*car items page*/

.price-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px 0 0 50px;
}

.section-car-item {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    height: auto;
    width: 40%;
    background-color: white;
    padding: 0 10px 0 10px;
}

.buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px 20px 10px;
}

.buy-now {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    text-decoration: none;
    font-size: 1.5rem;
    ;
    height: 50px;
    width: 100%;
    background-color: red;
    color: white;
    border-radius: .5rem;

}

.buy-now:hover {
    background-color: white;
    color: red;
    cursor: pointer;
    border: red solid 1px;
}

.buy form {
    width: 100%;
}



.car-item-info {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    height: auto;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 20px 0 20px;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    height: fit-content;
    width: 60%;
    background-color: white;
    padding: 0 10px 0 10px;
}

.car-item-image-thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    height: auto;


    padding: 20px 0 20px 20;
}

.first-picture img {
    width: 100%;
    height: auto;
}

.other-picture img {
    padding: 20px 0 20px 0;
    width: 100%;
    height: auto;
}

/*Start comments section */

.section-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.comment-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: white;
    padding: 10px;
}

.comment-form {
    display: flex;
    flex-direction: row;
    justify-content: top;
    text-align: left;
    text-indent: 10px;
    height: 100px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}

.comment-form textarea {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

.submit-comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    width: 10%;
    background-color: red;
    color: white;
    padding: 20px;
    cursor: pointer;
    border-radius: .5rem;
}

.comment-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.comment-box h2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: auto;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    padding: 20px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: auto;
    width: 100%;
    background-color: white;
    padding: 20px;
}

/*Login Sign Up starts here*/

.body-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 30px 20px 30px 20px;
    width: 100%;
}

.section-login,
.section-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    background-color: white;
    color: black;
    padding: 20px;
}

.section-signup {
    border-left: rgba(0, 0, 0, 0.7) solid 1px;
}

.section-login h2 {
    width: 73%;
    text-align: left;
    font-size: 2rem;
}

.section-signup h2 {
    color: red;
    width: 73%;
    text-align: right;
    font-size: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: auto;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.form-input {
    height: 2rem;
}

.signup-form,
.login-form {
    width: 80%;
}

.section-login h2 {
    padding-bottom: 90px;
}



/*footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: rgb(255, 255, 255);
    height: 150px;
    padding: 10;
    margin-top: 40px;
}
  